@use 'reset';
@use 'not-found-page';
@use 'event';
@use 'search';
@use 'add';
@use 'edit';
@use 'login';
@use 'register';
@use '../components/Layout/layout';
@use '../components/Header/header';
@use '../components/Footer/footer';
@use '../components/Hero/hero';
@use '../components/EventCard/event-card';
@use '../components/Search/search-bar';
@use '../components/Modal/modal';
@use '../components/ImgUpload/upload';
@use '../components/Pagination/pagination';
h1 {
  font-size: 3rem;
  color: white;
}
html,
body {
  // background: #02182b;
  background: #011936 ;
  width: 100%;
  height: 100vh;
}
